.sidebar {
  flex-shrink: 0;
  gap: 10px;
  width: 15vw;
  height: 100%;
  background-color: rgb(170, 170, 170);
  border-right: 3px solid rgb(100, 100, 100);
  border-radius: 0 10px 10px 0;
  padding: 5px 0;
  align-items: center;
  overflow: hidden;
}

.sidebar a {
  color: white;
  background-color: transparent;

}

.sidebar hr {
  width: 90%;
}

.profile-picture {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}

.user-container {
  width: 95%;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0 10px 0;
  align-items: center;
  background-color: rgb(150, 150, 150);
  border-radius: 10px;
  border: 3px solid black;
}

.user-container .no-picture-outer {
  width: 2vw;
  height: 2vw;
}

.user-container .no-picture-outer .initials {
  font-size: 100%;
}

.settings-container {
  width: 100%;
  background: transparent;
}

.settings-container button {
  background: transparent;
  text-align: left;
  outline: none;
  border: none;
  color: white;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;;
}

.settings-container > button {
  border-radius: 6px;
  border: 2px solid black;
}

.settings-container > button:hover {
  background-color: rgb(150, 150, 150);
}

.settings button:hover {
  background-color: rgb(190, 190, 190);
}

.settings {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.fa-user.open {
  color: green;
}

.overview-container {
  width: 100%;
  overflow: hidden;
  gap: 10px
}

.links {
  gap: 5px;
}

.overview-container a {
  background: transparent;
  color: black;
  text-shadow: none;
  width: 100%;
  padding: 3px 0 3px 5px;
}

.overview-container a:hover {
  background-color: rgb(190, 190, 190);
}

.user-name {
  font-weight: bold;
  font-family: 'Google Sans Code', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: overline
}

.update-form {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  max-width: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(150, 150, 150);
  border: 3px solid rgb(120, 120, 120);
  border-radius: 20px;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.update-form.show {
  opacity: 1;
  pointer-events: auto;
}

.fab-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  min-height: 80px;
}

.tooltip > .fab-button {
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  font-size: 150%;
  padding: 5px;
  opacity: 0.1;
  transition: opacity 0.4s ease;
}

.fab-button.show {
  opacity: 1;
  font-size: 170%;
}

#tiktok {
  color: black;
}

#instagram {
  color: rgb(255, 60, 60);
}

#facebook {
  color: rgb(60, 60, 255);
}

.form-buttons {
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.form-buttons > button {
  color: white;
  font-weight: bold;
  border: 2px solid black;
}

.form-buttons > .close {
  background-color: red;
}

.form-buttons > .save {
  background-color: rgb(0, 255, 0);
  color: white;
  font-weight: bold;
}

.close:hover {
  border: 2px solid rgb(255, 150, 150);
}

.row .fa-spinner {
  font-size: 100%;
  color: white;
}

.save:hover {
  border: 2px solid rgb(160, 255, 160);
}

.profile-icon {
  width: 90%;
}

.profile-icon > * {
  align-self: flex-start;
  justify-self: flex-start;
  color: white;
}


@media (max-width: 425px) {
  .sidebar {
    height: 100%;
    width: 100vw;
  }
}