#user {
  color: white;
}

.background-img {
    position: fixed;
    top: 0;
    opacity: 0.2;
    width: 100vw;
    height: 100%;
  }

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 998;
}

.fa-spinner {
  font-size: 400%;
  color: rgb(0, 255, 0);
}

.switch-container {
  width: 50px;
  height: 25px;
  border: 1px solid black;
  border-radius: 999px;
  justify-content: center;
  background-color: white;
}

.switch-container {
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.switch-track {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  display: flex;
  justify-content: center;
}

.switch-knob {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}


.input-container > label {
  color: white;
}

.items-center {
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
}

.initials {
  color: white;
  font-weight: bold;
  font-size: 160%;
}

.center {
  align-items: center;
  justify-content: center;
}

#navbar {
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
    align-items: center;
    border-radius: 0 0 10px 10px;
    border: 2px solid black;
    width: 100%;
    top: 0;
    left: 0;
    height: 6vh;
    background: linear-gradient(
        230deg,
        rgb(0, 255, 0),
        rgb(45, 196, 105)
    )
}

#logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

.anchors {
  gap: 5px;
  padding: 15px;
  flex-direction: row;
}

.com-container {
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.com {
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}

.fa {
   border: 1px solid black;
}

.prompt {
  flex-direction: row;
  border-radius: 10px;
  position: fixed;
  top: 8%;
  right: 0;
  margin: 0;
  padding: 0;
}

.status-block {
  align-items: center;
  text-align: center;
  border-right: 2px solid black;
  gap: 2px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}



.hide-prompt button {
  height: 100%;
  background-color: rgb(255, 80, 80);
  border-radius: 0;
  width: 100%;
  outline: none;
  border: none;
  color: white;
}

.hide-prompt button:hover {
  background-color: rgb(255, 0, 0);
}

@media (max-width: 425px) {
  .com-container {
    padding: 10px;
  }

  .com {
    font-size: 20px;
  }

  .status-block {
    font-size: 12px;
  }
}
