.file-input {
  display: none; /* hide the default file input */
}

.file-label {
  display: inline-block;
  padding: 7px 7px;
  background: rgb(120, 120, 120);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.file-label:hover {
  background: rgb(80, 80, 80);
}
