.file-input {
  display: none; /* hide default input */
}

.file-label {
  display: inline-block;
  padding: 5px 5px;
  background: rgb(120, 120, 120);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.file-label:hover {
  background: white;
}

.file-list {
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.remove-btn {
  background: transparent;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.2s;
}

.remove-btn:hover {
  color: darkred;
}
