form .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#sign-up {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

form {
  gap: 15px
}

.sign-in-choice {
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
}

form .input-container > input {
  width: 500px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 60%;
}

.or {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}

.validation-container {
  border: 3px solid white;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px  2px 0 black,
    2px  2px 0 black;
}

@media (max-width: 425px)  {
  form .input-container input {
    width: 95%;
  }

  .sign-in-choice {
    width: 100%;
  }
}