.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#sign-up {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.input-container > input {
  width: 500px;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}

.validation-container {
  border: 3px solid white;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px  2px 0 black,
    2px  2px 0 black;
}

@media (max-width: 425px)  {
  .input-container input {
    width: 95%;
  }
}

