body {
  height: 100%;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  width: 100vw;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#login-sign {
  flex-direction: row;
}